:root {
    --primary-color: #f33540;
    --secondary-color: #ef3340;
    --accent-color: #d83334;
    --background-color: #fff;
    --text-color-black: #000;
    --text-color-white: #fff;
  }

 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }


 .horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }




.main-background {
      background-image: url(img/poratadacover-scaled-1.jpg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      color: white;
      font-size: x-large;
      margin-top: -30px;
}

.red-background {
    background-color: red;
    padding: 2%;
}

.karten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 1rem;
    margin-top: 2rem;
}

/* Add an animation to article, when mouse is hover move to the top right a little bit*/
article {
   background-color: white;
   text-align: center;
   padding: 2%;
   transition: transform 0.3s ease; /*animation*/
}

article:hover {
   transform: translate(10px, -10px); /* Move 10px to the right and 10px up */
}


.Bootcamps {
   display: flex;
   flex-direction: row;
   gap: 3rem;
   justify-content: space-around;
}

.Masteres {
   display: flex;
   flex-direction: row;
   gap: 2rem;
}

.data {
   background-image: url(img/estudiar-data-science-1.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   position: relative;
}

.data::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/deco-bootcamps.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: rgba(248, 7, 7, 0.4); /* Red overlay with 40% opacity */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.3s ease; /* Smooth transition effect */
}

.data:hover::after {
   opacity: 1; /* Show the transparent image on hover */
}

.ciber {
   background-image: url(img/estudiar-ciberseguridad.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   position: relative;
}

.ciber::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/deco-bootcamps.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: rgba(248, 7, 7, 0.4); /* Red overlay with 40% opacity */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.3s ease; /* Smooth transition effect */
}

.ciber:hover::after {
   opacity: 1; /* Show the transparent image on hover */
}

.full {
   background-image: url(img/estudiar-programacion-front-end-back.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   position: relative;  
}

.full::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/deco-bootcamps.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: rgba(248, 7, 7, 0.4); /* Red overlay with 40% opacity */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.3s ease; /* Smooth transition effect */
}

.full:hover::after {
   opacity: 1; /* Show the transparent image on hover */
}

.ux {
   background-image: url(img/bootcamp-cloud.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   position: relative;  
}

.ux::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/deco-bootcamps.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: rgba(248, 7, 7, 0.4); /* Red overlay with 40% opacity */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.3s ease; /* Smooth transition effect */
}

.ux:hover::after {
   opacity: 1; /* Show the transparent image on hover */
}

.mktg {
   background-image: url(img/estudiar-el-mejor-marketing-digital.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   position: relative;
}

.mktg::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(img/deco-bootcamps.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: rgba(248, 7, 7, 0.4); /* Red overlay with 40% opacity */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.3s ease; /* Smooth transition effect */
}

.mktg:hover::after {
   opacity: 1; /* Show the transparent image on hover */
}

.ia-1 {
   background-image: url(img/master-1.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ia-2 {
   background-image: url(img/master-2.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ia-3 {
   background-image: url(img/master-3.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

