:root {
    --primary-color: #f33540;
    --secondary-color: #ef3340;
    --accent-color: #d83334;
    --background-color: #fff;
    --text-color-black: #000;
    --text-color-white: #fff;
  }

 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }



.main-background {
      background-image: url(img/poratadacover-scaled-1.jpg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      color: white;
      font-size: x-large;
      margin-top: -30px;
}

.red-background {
    background-color: red;
    padding: 2%;

}

.karten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 1rem;
    margin-top: 2rem;
}

article {
   background-color: white;
   text-align: center;
   padding: 2%;
}

.Bootcamps {
   display: flex;
   flex-direction: row;
   gap: 3rem;
   justify-content: space-around;
   
}

.Masteres {
   display: flex;
   flex-direction: row;
   gap: 2rem;
}

.data {
   background-image: url(img/estudiar-data-science-1.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ciber {
   background-image: url(img/estudiar-ciberseguridad.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.full {
   background-image: url(img/estudiar-programacion-front-end-back.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ux {
   background-image: url(img/bootcamp-cloud.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.mktg {
   background-image: url(img/estudiar-el-mejor-marketing-digital.png);
   background-size: contain;   
   height: 120px;
   width: 120px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}


.ia-1 {
   background-image: url(img/master-1.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ia-2 {
   background-image: url(img/master-2.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

.ia-3 {
   background-image: url(img/master-3.jpg);
   background-size: contain;   
   height: 150px;
   width: 150px;
   background-repeat: no-repeat;
   color: white;
   align-content: end;
   padding: 10px;
   
}

